<p>
  movie-detail works!
</p>
<pre *ngIf="movie">
  <img src="{{movie.Poster}}" alt="" width="200">
Actors: {{movie.Actors}}
Country: {{movie.Country}}
DVD: {{movie.DVD}}
Director: {{movie.Director}}
Genre: {{movie.Genre}}
Language: {{movie.Language}}
Plot: {{movie.Plot}}
Poster: {{movie.Poster}}
Production: {{movie.Production}}
Rated: {{movie.Rated}}
Released: {{movie.Released}}
Runtime: {{movie.Runtime}}
Title: {{movie.Title}}
Type: {{movie.Type}}
Writer: {{movie.Writer}}
Year: {{movie.Year}}
imdbID: {{movie.imdbID}}
imdbRating: {{movie.imdbRating}}
</pre>

<button (click)="addMovieToCollection(movie.imdbID)">Add</button>
